.preloader-inner > div,
.menu-btn:hover,
.search-btn:hover,
.cart-btn:hover,
.cart-btn::after,
.main-nav ul li:hover > a,
.main-nav > ul > li > a.active-section,
.cart-item-img::after,
.page-cover-carousel-left,
.page-cover-carousel-right,
.page-cover-category span::after,
.scroll-down,
.colored-section,
.bg-colored,
.icon-bg-colored,
.accordion-title.accordion-active,
.accordion-title a:hover,
.font-awesome-icons > div:hover,
.et-line-icons > div:hover,
.has-icon:hover .icon-bg-change,
.title-divider::after,
.btn-fill,
.btn-nofill:hover,
.progress-bar > span,
.progress-bar > span::after,
.pricing-content:hover .pricing-price,
.pricing-price-special,
.sidebar-tags a:hover,
.owl-theme .owl-controls .owl-page span,
.owl-buttons div,
.product-content .not-available::after,
.product-detail-size a:hover,
.product-detail-size a.size-selected,
.flip-clock-wrapper ul li a div div.inn,
.flip-clock-dot,
.color-scheme-theme-item.color-scheme-theme-selected{
    background-color: #F64747 !important;
}

p a,
ol li::before,
ul li::before,
.text-clr-chng:hover,
.breadcrumb-item a:hover,
.main-nav a:hover,
.main-nav .has-menu:hover > a,
.mega-menu-item h5,
.cart-btn:hover::after,
.cart-item-remove:hover,
.cart-item-total-price span,
.page-cover-carousel-left:hover,
.page-cover-carousel-right:hover,
.scroll-down:hover,
.btn-fill:hover,
.btn-nofill,
.tab-option li a:hover,
.tab-option li.active a,
.text-colored,
.text-colored *,
.icon-colored,
.icon-bg-change,
.icon-left,
.filter li a:hover,
.filter li.active a,
.banner-start a,
.owl-buttons div:hover,
.copyright-text span,
.footer-nav a:hover,
.faq-heading-item a:hover,
.faq-heading-item a::before,
.product-detail-info li a:hover,
.color-scheme-select-btn{
    color: #F64747 !important;
}

blockquote,
.brdr-colored,
.main-nav a:hover,
.main-nav .has-menu:hover > a,
.cart-btn:hover::after,
.search-form input[type="text"],
.page-cover-carousel-left,
.page-cover-carousel-right,
.scroll-down,
.btn,
.tab-option li.active a,
.filter li.active a,
.pricing-content > div:hover,
.pricing-content > div:hover .pricing-title,
.owl-buttons div,
.product-detail-size a:hover,
.product-detail-size a.size-selected,
.sidebar-tags a:hover,
input[type="text"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="password"]:hover,
input[type="date"]:hover,
input[type="color"]:hover,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="color"]:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus{
    border-color: #F64747 !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="color"]:focus,
textarea:focus,
select:focus{
    -webkit-box-shadow: 0px 0px 5px #F64747 !important;
    -moz-box-shadow: 0px 0px 5px #F64747 !important;
    box-shadow: 0px 0px 5px #F64747 !important;
}
